In [3]:
pip install numpy igraph pandas

Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (1.19.5)
Collecting igraph
  Downloading igraph-0.9.8-cp37-cp37m-manylinux_2_12_x86_64.manylinux2010_x86_64.whl (3.2 MB)
     |████████████████████████████████| 3.2 MB 12.9 MB/s
Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (1.1.5)
Collecting texttable>=1.6.2
  Downloading texttable-1.6.4-py2.py3-none-any.whl (10 kB)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas) (2018.9)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)
Installing collected packages: texttable, igraph
Successfully installed igraph-0.9.8 texttable-1.6.4


Optionals: 
1. We might need to implement random data at the end of the project.

In [4]:
import igraph as ig
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [6]:
# Import data
netdata = pd.read_csv('TD3_primary_undirected_temporal.csv')
netdata

        time  node-i  node-j
0          0      58      63
1          0      59      64
2          0      63      66
3          0      85     190
4          0      85     214
...      ...     ...     ...
125768  3099     152     172
125769  3099     152     174
125770  3099     167     180
125771  3099     172     178
125772  3099     236     241

[125773 rows x 3 columns]